ion-header {

}


ion-content {
  .title {
    height: 5rem;
    width: 100%;
    text-align: center;
    background: #e89061;
    color: white;
    // margin-top: 3rem;
    margin-bottom: 3rem;

  }

  .middle {
    position: absolute;
    top: 60%;
    left: 10%;
  }

ion-select {
  width: 80vw;
  --border: 1px solid gray;
  --border-radius: 1rem;
}

ion-button{
    --width: 20rem;
    --height: 2rem;
}
}
