ion-header {

}

ion-content {
  .title {
    height: 10rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    background: #e89061;
    color: white;
   // margin-top: 3rem;
    margin-bottom: 3rem;
    // border-radius: 1rem;

  }



.test-center {
  height: 15rem;
  background-color: #FFEAEA;
  padding: 1rem;
  border-radius: 1rem;

  h5 {
    font-size: small;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
    // padding-bottom: 1rem;
  }

  ion-label {
    color: #121010;
    font-size: 12.5px;
    margin-top: 2rem;
  }
}

.shadow {
  height: 15rem;
  background-color: transparent;
  padding: 1rem;
  border-radius: 1rem;

  h5 {
    font-size: small;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
    // padding-bottom: 1rem;
  }

  ion-label {
    color: #121010;
    font-size: 12.5px;
    margin-top: 2rem;
  }
}

.chat2learn {
  height: 15rem;
  background-color: #ECFEFF;
  padding: 1rem;
  border-radius: 1rem;

  h5 {
    font-size: small;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
    // padding-bottom: 1rem;
  }

  ion-label {
    color: #121010;
    font-size: 12.5px;
    margin-top: 2rem;
  }
}


.mathSolver {
  height: 15rem;
  background-color: #ffede3;
  padding: 1rem;
  border-radius: 1rem;

  h5 {
    font-size: small;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
    // padding-bottom: 1rem;
  }

  ion-label {
    color: #121010;
    font-size: 12.5px;
    margin-top: 2rem;
  }
}

.report {
  height: 15rem;
  background-color: #FFFEE3;
  padding: 1rem;
  border-radius: 1rem;

  h5 {
    font-size: small;
    padding-bottom: 1rem;
  }

  img {
    padding-top: 1rem;
    // padding-bottom: 1rem;
  }

  ion-label {
    color: #121010;
    font-size: 12.5px;
    margin-top: 2rem;
  }
}
}
