<ion-content>

<ion-card class="no-shadow">
  <ion-card-content>
      <img src="../../assets/sbox.png">
  </ion-card-content>
</ion-card>



    <swiper-container  autoplay pagination>
      <swiper-slide>

        <div class="header">
          <ion-img src="../../assets/Learning-cuate 1.png" style="height: 50vh;"></ion-img>

        </div>

        <div class="other">

          <div class="details">

            <h3 style="margin-top: 2rem; color:  #383B4C;
  ">Read on the go!</h3>

            <p>Prepare and read topics in all subjects on the go.</p>



          </div>



        </div>

      </swiper-slide>
      <swiper-slide>

        <div class="header">
          <ion-img src="../../assets/Exams-cuate 1.png" style="height: 50vh;"></ion-img>

        </div>

        <div class="other">

          <div class="details">

            <h3 style="margin-top: 2rem;  color:  #383B4C;">Read on the go!</h3>

            <p>Prepare and read topics in all subjects on the go.</p>



          </div>



        </div>

      </swiper-slide>
      <swiper-slide>

        <div class="header">
          <ion-img src="../../assets/Grades-cuate 1.png" style="height: 50vh;"></ion-img>

        </div>

        <div class="other">

          <div class="details">

            <h3 style="margin-top: 2rem;   color:  #383B4C;">Read on the go!</h3>

            <p>Prepare and read topics in all subjects on the go.</p>



          </div>

        </div>

      </swiper-slide>







    </swiper-container>


</ion-content>
<ion-footer class="border: none;">

  <div class="bottom">
    <ion-item lines="none">
      <ion-button [routerLink]="['/login']" style=" width: 9rem; height: 2.5rem; --background: #383B4C;" slot="start">Log
        In</ion-button>
      <ion-button [routerLink]="['/create']" slot="end" style=" width: 9rem; height: 2.5rem; --background: #F88B2A;">Sign
        Up</ion-button>
    </ion-item>
  </div>
</ion-footer>
