ion-header {
  box-shadow: none;

  --border: none;

  ion-toolbar {
    --background: white;
    border: none;

    ion-title {
      --border: none;
    }
  }
}

ion-content {

  .item {
    ion-item {
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      ion-icon {
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }


  ion-button {
    width: 12rem;
    height: 1rem;
    margin-top: 5rem;
    text-align: center;
    --background: #383B4C;
    position: absolute;


  }
}
